/* Importing Normalize css */
@import url("normalize.css");



/* background image formatting */

body{
	 background: url(https://source.unsplash.com/random/1000x600);
	 background-size: cover;
	 height: 100vh;
	 width: 100vw;
}


/* To do list formatting */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*:before, *:after{
	box-sizing: border-box;
}


body{
	background-color: lightblue;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	justify-items: center;
	color:#444;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-color: #ccc;
}

h1{
	font-size: 80px;
	font-weight: 600;
	padding: 30px 0;
	font-weight: 400;
}

.h1-inverse{
	color:#222;
	background-color: #ccc;
	font-weight: 600;
}

.full-board{
	position: relative;
	/*left:50%; top:50%;*/
	/*transform:translate(-50%,-50%);*/
	min-width: 450px;
	max-width: 550px;
	background-color: white;	
	border-radius: 10px;
	/*padding:10px 30px;*/
/*	box-shadow: 0px 0px 10px #ddd, 
							0px 8px 0px -2px white,
							0px 8px 4px -2px #999,
							0px 16px 0px -4px white,
							0px 16px 4px -4px #999,
							0px 0px 60px 0px #bbb;*/
}

/* Header section formatting */

.header-section{
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	border: 1px solid #ddd;
	border-bottom: none;
}

.header-section i{
	/*position: absolute;*/
	padding:3px 15px;
	color:#bbb;
	font-size: 26px;
}

.active-down{
	color:#444 !important;
}

.item{
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-gap: 10px;
	padding:5px 0;
	align-items: center;
	border-top:1px solid #ddd;
	/*border-bottom:none;*/
	height: 50px;
}

input{
	border:none;
	border-radius: 3px;
	height:50px;
	width: 100%;
	font-size: 24px;
	font-style: italic;
	opacity: 0.5;
}

form button{
	height:25px;
	font-weight: 600;
	padding:0 15px;
	display: none;
}

.item-list{
	box-shadow: 0px 0px 1px #bbb;
	font-size: 22px;
}

.item-list > *{
	padding:0 15px;
}

.strike-out .item-text{
	text-decoration: line-through;
	color:#888;
}

.strike-out .circle-check:before{
	display: block;
}

.strike-out i{
	color:#888;
}

/* Cross button - Hiding and showing on hover*/

.fa-times{
	opacity: 0;
}

.item:hover > .fa-times{
	opacity: 0.4;
	color:indianred;
}

/* Done tick circle and tick */

.circle-check{
	width: 25px;
	height: 25px;
	border: 1px solid #ddd;
	border-radius: 50%;
	position: relative;
	margin-right:5px;
}

.circle-check:before{
	content: "";
	display: none;
	opacity: 0.6;
	border-left:2px solid darkgreen;
	border-bottom:2px solid darkgreen;
	width: 15px;
	height: 8px;
	transform: rotate(-40deg);
	position: absolute;
	top:24%;left:18%;
	/*transform: translate(-50%,-50%);*/
}

/* Bottom section formatting */

.bottom-section{
	display: grid;
	grid-template-columns: repeat(3,auto);
	/*margin-top:30px;*/
	padding:20px 0 40px 0;
	height: 50px;
	align-items: center;
}

.bottom-section>*{
	padding:0 15px;
	vertical-align: center;
	font-size: 14px;
}

.bottom-section #clear-completed{
	justify-self: right;
}

.bottom-section .filter-btns{
	justify-self: center;
}

/* Buttons formatting */

.bottom-section .filter-btns > *{
	background-color: white;
	border: none;
	border-radius: 4px;
	padding:3px 8px;
	color: #444 !important;
}

.current-btn{
	/*background-color: #ddd !important;*/
	border:1px solid #ddd !important;
}

/* To remove the blue line during button and input select */

button.focus, button:focus {
    outline: 0;
    box-shadow: none!important;
}

input.focus, input:focus {
    outline: 0;
    box-shadow: none!important;
}

/* Clear completed formatting */

#clear-completed:hover{
	text-decoration: underline;
	cursor: pointer;
}

/* Credits section formatting */

.credits-footer{
	padding-top:60px;
	text-align: center;
	line-height: 1.6;
	font-size: 13px;
	color:#aaa;
}

.credits-footer a{
	text-decoration: none;
	color: #aaa;
}

.credits-footer a:hover{
	text-decoration: underline;
}